* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor_carrito{
    display: flex;
    justify-content: center;
}

.carrito_boton{
    text-align: center;
    border-radius: 16px;
    background-color: black;
    color: white;
    font-size: 1.9rem;
    width: 100px;
    cursor: pointer;
    margin: 16px;
}
.cantidad_carrito{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 4px;
    top: 37px;
    position: absolute;
    display: none;
}

body {
    width: 100%;
    height: auto;
    background-image: url(../assets/image/back_image.png);
    background-size: cover;
}

a:hover {
    color: white;
    background-color: black;
    border-radius: 5px;
}

.section {
    display: flex;
    justify-content: center;
}

.section_1 {
    display: flex;
    width: 600px;
    height: 430px;
}

.section_img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section_img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.titulo_principal {
    text-align: center;
}

.titulo{
    text-align: center;
    margin: 10px;
    text-decoration: underline;
}

.contenedor_productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarjetas {
    width: 300px;
    height: 375px;
    background-color: black;
    margin: 10px;
    border-radius: 25px;
    text-align: center;
}

.tarjetas_img {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 16px;
    margin: 5px;
}

.tarjetas_tit {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 5px;
}

.tarjetas_subtit {
    font-size: 1.2em;
    text-align: center;
    color: antiquewhite;
    margin:5px
}

.tarjetas_boton {
    background-color: grey;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.tarjetas_boton:hover {
    background-color: green;
    scale: 1.5;
}

.carrito_contenedor{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* comportamiento */
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.carrito_contenedor::-webkit-scrollbar{
    display: none;
}

.carrito_header{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    color: white;
    width: 100%;
}

.carrito_titulo{
    margin-left: 100px;
    margin-top: 22px;
    text-align: center;
}

.carrito_boton{
    text-align: center;
    justify-self: center;
    cursor:pointer;
}

.carrito_tarjetas{
    width: 200px;
    margin: 10px;
    background-color: white;
    color: black;
}

.carrito_img{
    height: 120px;
    width: 120px;
}

.total_carrito{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: grey;
}

.eliminar_producto{
    cursor: pointer;
}


.noticias {
    text-align: center;
    font-size: 1.8rem;
    color: black;
}

.formulario {
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin: 15px;
    padding: 15px;
    text-decoration: underline;
}

.formulario label {
    width: 100px;
    height: auto;
    color: black;
    font-size: larger;
}

.formulario button {
    background-color: black;
    width: 100px;
    color: antiquewhite;
    text-decoration: none;
}

.formulario button:hover {
    scale: 1.5;
    background-color: green;
    text-decoration: none;
}